body {
   color: black;
    background-color:#CD853F;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a {
     color:beige;
     text-decoration: none;
}

section {
    background-image: linear-gradient( #CD853F, #c4bebe);
    color: black rgb(red, green, blue);     
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(31, 29, 29);
}